.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 52px;

  .menu-bar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-right: 5rem;

      &:last-child {
        margin-right: 0;
      }
    }

    .active {
      color: red;
    }
  }
  

  .header-logo {
    height: 70px;
    width: 258px;

    img {
      height: 85px
    }
  }

  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      height: 0px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: 80px;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      color: #262626;      
    }
  }

  .header-schedule-btn {
    cursor: pointer;

    button {
      background-color: #2e9449;
      padding: 10px 16px;
      font-weight: bold;
    }
  }
}
